
# configurations and caches
.vscode/
.ruff_cache
*.egg-info
*__pycache__

# Checkpointing and runs
dumps/
logs/
savings/
wandb/

# Personal file and folder
# TODO.md
src/apps/gssm/configs/experiments
tmp_*
tests/
*.ipynb
